.brands img{
    width: 100px;
    height: auto;
    margin: 10px;
}
.brands{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.container{
    width: calc(100vw - 3rem); 
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: F9FBFC;
}

.container h2{
    font-family: 'Arial Black', sans-serif;
    font-style: italic;
}